.red{
    background-color: rgb(224, 85, 85);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main{
    height: 90vh;
    background-color: aqua;
  }
  
  .grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    padding: 20px 0;
  }
  
  .square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .square.clicked{
    background-color: blue;
    color: white;
  }
  
  .square100{
    width: calc(100%/10);
    height: calc(100%/10);
  }
  .square81{
    width: calc(100%/9);
    height: calc(100%/9);
  }
  .square49{
    width: calc(100%/7);
    height: calc(100%/7);
  }